<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_PlayerService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:21312/PlayerService/fd05367b-05e3-4ac0-ae4a-3e7c6c1b7bc2"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_PlayerService"
                contract="PlayerService" name="NetTcpBinding_PlayerService">
                <identity>
                    <userPrincipalName value="CLAUDIO-TRABW7\Cláudio" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>