<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assemblies.Properties.Settings.DigitalSignageConnectionString"
            connectionString="Data Source=SERVERDEV;Initial Catalog=DigitalSignage;User ID=cliente"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>