<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Assemblies.Properties.Settings.DigitalSignageConnectionString"
            connectionString="Data Source=SERVERDEV;Initial Catalog=DigitalSignage;User ID=cliente"
            providerName="System.Data.SqlClient" />
        <add name="Assemblies.Properties.Settings.GestProgramConnectionString"
            connectionString="Data Source=SERVERDEV;Initial Catalog=GestProgram;User ID=cliente;Password=cliente"
            providerName="System.Data.SqlClient" />
        <add name="Assemblies.Properties.Settings.GestMultiConnectionString"
            connectionString="Data Source=SERVERDEV;Initial Catalog=GestMulti;User ID=cliente;Password=cliente"
            providerName="System.Data.SqlClient" />
        <add name="Assemblies.Properties.Settings.DigitalSignageConnectionString1"
            connectionString="Data Source=SERVERDEV;Initial Catalog=DigitalSignage;User ID=cliente;Password=cliente"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>